{{!< default}}


{{!-- Posts --}}
<section>

	<header class="major">
			<h2>Tags</h2>
	</header>
	{{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}
	<section class="tags">
		{{#foreach tags}}
		<tag>
			<h2 class="tagname"><a href="{{url}}">{{name}} <small>({{ count.posts }})</small></a></h2>
			{{#if feature_image}}
			<a href="{{url}}" class="image fit"><img src="{{img_url feature_image}}" alt="{{name}}" /></a>
			{{/if}}
		</tag>
		{{/foreach}}
	</section>
	{{/get}}

</section>
